@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #D2DBDD;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

#sidebar .nav {
}

#sidebar .nav a {
    background: none;
    border-bottom: 1px solid #455a64;
    color: #cfd8dc;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: #eceff1;
}

#sidebar .nav a i {
    margin-right: 16px;
}

/*content*/
.prod-info-main {

    border: 1px solid #CEEFFF;

    margin-bottom: 20px;

    margin-top: 10px;

    background: #fff;

    padding: 6px;

    -webkit-box-shadow: 0 1px 4px 0 rgba(21,180,255,0.5);

    box-shadow: 0 1px 1px 0 rgba(21,180,255,0.5);

}



.prod-info-main .product-image {

    background-color: #EBF8FE;

    display: block;

    min-height: 238px;

    overflow: hidden;

    position: relative;

    border: 1px solid #CEEFFF;



}



.prod-info-main .product-deatil {

    border-bottom: 1px solid #dfe5e9;

    padding-bottom: 17px;

    padding-left: 16px;

    padding-top: 16px;

    position: relative;

    background: #fff

}



.product-content .product-deatil h5 a {

    color: #2f383d;

    font-size: 15px;

    line-height: 19px;

    text-decoration: none;

    padding-left: 0;

    margin-left: 0

}



.prod-info-main .product-deatil h5 a span {

    color: #9aa7af;

    display: block;

    font-size: 13px

}



.prod-info-main .product-deatil span.tag1 {

    border-radius: 50%;

    color: #fff;

    font-size: 15px;

    height: 50px;

    padding: 13px 0;

    position: absolute;

    right: 10px;

    text-align: center;

    top: 10px;

    width: 50px

}



.prod-info-main .product-deatil span.sale {

    background-color: #21c2f8

}



.prod-info-main .product-deatil span.discount {

    background-color: #71e134

}



.prod-info-main .product-deatil span.hot {

    background-color: #fa9442

}



.prod-info-main .description {

    font-size: 12.5px;

    line-height: 20px;

    padding: 10px 14px 16px 19px;

    background: #fff

}



.prod-info-main .product-info {

    padding: 11px 19px 10px 20px

}



.prod-info-main .product-info a.add-to-cart {

    color: #2f383d;

    font-size: 13px;

    padding-left: 16px

}



.prod-info-main name.a {

    padding: 5px 10px;

    margin-left: 16px

}



.product-info.smart-form .btn {

    padding: 6px 12px;

    margin-left: 12px;

    margin-top: -10px

}



.load-more-btn {

    background-color: #21c2f8;

    border-bottom: 2px solid #037ca5;

    border-radius: 2px;

    border-top: 2px solid #0cf;

    margin-top: 20px;

    padding: 9px 0;

    width: 100%

}
.illus{
    width: 215px;
    height: 235px;

}
.illusAdmin{
    width: 100px;
    height: 100px;
    white-space: nowrap;

}


.product-block .product-deatil p.price-container span,

.prod-info-main .product-deatil p.price-container span,

.shipping table tbody tr td p.price-container span,

.shopping-items table tbody tr td p.price-container span {

    color: #21c2f8;

    font-family: Lato, sans-serif;

    font-size: 24px;

    line-height: 20px

}



.product-info.smart-form .rating label {

    margin-top:15px;



}



.prod-wrap .product-image span.tag2 {

    position: absolute;

    top: 10px;

    right: 10px;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    padding: 10px 0;

    color: #fff;

    font-size: 11px;

    text-align: center

}



.prod-wrap .product-image span.tag3 {

    position: absolute;

    top: 10px;

    right: 20px;

    width: 60px;

    height: 36px;

    border-radius: 50%;

    padding: 10px 0;

    color: #fff;

    font-size: 11px;

    text-align: center

}



.prod-wrap .product-image span.sale {

    background-color: #57889c;

}



.prod-wrap .product-image span.hot {

    background-color: #a90329;

}



.prod-wrap .product-image span.special {

    background-color: #3B6764;

}

.shop-btn {

    position: relative

}



.shop-btn>span {

    background: #a90329;

    display: inline-block;

    font-size: 10px;

    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

    font-weight: 700;

    border-radius: 50%;

    padding: 2px 4px 3px!important;

    text-align: center;

    line-height: normal;

    width: 19px;

    top: -7px;

    left: -7px

}



.product-deatil hr {

    padding: 0 0 5px!important

}



.product-deatil .glyphicon {

    color: #3276b1

}



.product-deatil .product-image {

    border-right: 0px solid #fff !important

}



.product-deatil .name {

    margin-top: 0;

    margin-bottom: 0

}



.product-deatil .name small {

    display: block

}



.product-deatil .name a {

    margin-left: 0

}



.product-deatil .price-container {

    font-size: 24px;

    margin: 0;

    font-weight: 300;



}



.product-deatil .price-container small {

    font-size: 12px;



}



.product-deatil .fa-2x {

    font-size: 16px!important

}



.product-deatil .fa-2x>h5 {

    font-size: 12px;

    margin: 0

}



.product-deatil .fa-2x+a,

.product-deatil .fa-2x+a+a {

    font-size: 13px

}



.product-deatil .certified {

    margin-top: 10px

}



.product-deatil .certified ul {

    padding-left: 0

}



.product-deatil .certified ul li:not(first-child) {

    margin-left: -3px

}



.product-deatil .certified ul li {

    display: inline-block;

    background-color: #f9f9f9;

    padding: 13px 19px

}



.product-deatil .certified ul li:first-child {

    border-right: none

}



.product-deatil .certified ul li a {

    text-align: left;

    font-size: 12px;

    color: #6d7a83;

    line-height: 16px;

    text-decoration: none

}



.product-deatil .certified ul li a span {

    display: block;

    color: #21c2f8;

    font-size: 13px;

    font-weight: 700;

    text-align: center

}



.product-deatil .message-text {

    width: calc(100% - 70px)

}



@media only screen and (min-width:1024px) {

    .prod-info-main div[class*=col-md-4] {

        padding-right: 0

    }

    .prod-info-main div[class*=col-md-8] {

        padding: 0 13px 0 0

    }

    .prod-wrap div[class*=col-md-5] {

        padding-right: 0

    }

    .prod-wrap div[class*=col-md-7] {

        padding: 0 13px 0 0

    }

    .prod-info-main .product-image {

        border-right: 1px solid #dfe5e9

    }

    .prod-info-main .product-info {

        position: relative

    }
    .swiper .swiper-button-prev ,.swiper .swiper-button-next {
      color: #45819e;
    }
    #add-btn {
        margin-left: 45%;
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        background: #37474f;
        border: none;
    }
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }
    #addform{
        display: none;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        border-radius: 4px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .adButtons{
        margin-left: 70%;
        margin-top: 0%
    }
    .deleteBtn{
        background-color: red;
    }
    .buttonED {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out,
        transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .buttonED:hover,
    .buttonED:focus {
        background: #0053ba;
    }

    .buttonED:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    .buttonED:active {
        transform: scale(0.99);
    }
    #buttonEdit{
        background: sandybrown;
        color: #ffffff;
    }
    #buttonDelete{
        background: orangered;
        color: #ffffff;
    }
    #adId{
        color: grey;
        white-space:nowrap;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    #editIllus{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 150px;
    }
    .spandiv{
        line-height: 50px;
        height: 50px;
        margin: 5px;
        text-align: center;
    }
    #buttonDeleteIlluI {
        color: black;
        background: red;
    }
    #submitEditForm{
        margin-top: 150px;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
    .containerB{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        flex: 1;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .gallery{
        align-items: stretch;
        border-radius: 5px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .15);
        overflow: hidden;
    }

    .gallery, .gallery__images{
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .gallery__images{
        align-items: center;

    }

    .gallery__images img{
        display: block;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        opacity: 0;
        position: absolute;
        transition: all .31s cubic-bezier(.4,0,.2,1);
        visibility: hidden;
        width: 70%;
    }

    .gallery__images img.active{
        opacity: 1;
        visibility: visible;
    }

    .gallery__controller{
        position: absolute;
        top: 0;
        height: 100%;
        width: 10rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        transition: all .31s cubic-bezier(.4,0,.2,1);
    }

    .gallery__controller:hover{ opacity: 1; }

    .gallery__controller:after{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        transform: translate(-50%);
    }

    .gallery__controller--prev{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .75) 0, rgba(0, 0, 0, .0001));
        left: 0;
    }

    .gallery__controller--prev:after{ content: '<'; }

    .gallery__controller--next{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .75));
        right: 0;
    }

    .gallery__controller--next:after{ content: '>'; }
    .item {
        padding-bottom: 24px;
    }

    .item .itemPrice,
    .item .itemDescription {
        margin-right: 24px;
    }

    /* .item .itemName,
    .item .itemPrice {
      display: inline-block;
    } */

    .item .itemPrice {
        /*   color: #aaa; */
    }

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    body{
        line-height: 1.5;
    }
    .card-wrapper{
        max-width: 1100px;
        margin: 0 auto;
    }
    img{
        width: 100%;
        display: block;
    }
    .img-display{
        overflow: hidden;
    }
    .img-showcase{
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }
    .img-showcase img{
        min-width: 100%;
    }
    .img-select{
        display: flex;
    }
    .img-item{
        margin: 0.3rem;
    }
    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3){
        margin-right: 0;
    }
    .img-item:hover{
        opacity: 0.8;
    }
    .product-content{
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
    .product-title::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }
    .product-link{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }
    .product-link:hover{
        opacity: 0.9;
    }
    .product-rating{
        color: #ffc107;
    }
    .product-rating span{
        font-weight: 600;
        color: #252525;
    }
    .product-price{
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: 700;
    }
    .product-price span{
        font-weight: 400;
    }
    .last-price span{
        color: #f64749;
        text-decoration: line-through;
    }
    .new-price span{
        color: #256eff;
    }
    .product-detail h2{
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }
    .product-detail p{
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }
    .product-detail ul{
        margin: 1rem 0;
        font-size: 0.9rem;
    }
    .product-detail ul li{
        margin: 0;
        list-style: none;
        background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }
    .product-detail ul li span{
        font-weight: 400;
    }
    .purchase-info{
        margin: 1.5rem 0;
    }
    .purchase-info input,
    .purchase-info .btn{
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }
    .purchase-info input{
        width: 60px;
    }
    .purchase-info .btn{
        cursor: pointer;
        color: #fff;
    }
    .purchase-info .btn:first-of-type{
        background: #256eff;
    }
    .purchase-info .btn:last-of-type{
        background: #f64749;
    }
    .purchase-info .btn:hover{
        opacity: 0.9;
    }
    .social-links{
        display: flex;
        align-items: center;
    }
    .social-links a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }
    .social-links a:hover{
        background: #000;
        border-color: transparent;
        color: #fff;
    }

        .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }
        .card-wrapper{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product-imgs{
            height: 500px;
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .product-content{
            height : 100%;
            width : 100%;

        }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .buttonDeleteIlluC{
        width: 50px;
    }

}